*{
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
}
.main{
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 1440px;
    height: 2900px;
    position: relative;
}
.main-title{
color: rgb(0, 0, 0);
font-family: Bai Jamjuree;
font-style: italic;
font-size: 64px;
font-weight: 400;
line-height: 80px;
letter-spacing: 0%;
text-align: left;
/* Designer fashion, nostalgia magnet - what’s behind the rise and rise of the sneaker? */
position: relative;
width: 853px;
height: 342px;
left: 193px;
top: 119px;
}
.article-1{
  position: absolute;
  
  width: 1131px;
  top: 565px;
  left: 193px;
  height: 351px;

}
.article-first-other,
.article-first-text{
  display: inline-block;
  vertical-align: top;
  
}
.article-first-other{
  width: 295px;
  height: 100%;
}
.article-first-text{
  padding-left: 91px;
  width: 745px;
  height: 100%;
  
}
.conteiner-1{
  /* Rectangle 1 */
position: absolute;
width: 295px;
height: 169px;
left: 0;
top: 0;
border-radius: 38px;
background: rgb(217, 217, 217);
}
.conteiner-1 img{
  position: absolute;
  top: 105px;
  left: 29px;
}
.quote-1{
padding-top: 30px;
padding-left: 29px;
color: rgb(0, 0, 0);
font-family: Bai Jamjuree;
font-size: 24px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.author-1{
  position: absolute;
  top: 109px;
  left: 125px;
  color: rgb(0, 0, 0);
font-family: Bai Jamjuree;
font-style: italic;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.img-1{
  /* image 8 */
position: absolute;
width: 225px;
height: 225px;
left: 236px;
top: 747px;
}
.title-1{
  padding-top: 0;
  padding-left: 0;
  color: rgb(0, 0, 0);
font-family: Bai Jamjuree;
font-size: 40px;
font-weight: 500;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
}
.text-1{

color: rgb(0, 0, 0);
font-family: Bai Jamjuree;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.article-2{
  position: absolute;
  top: 978px;
  left: 190px;
  width: 745px;
  height: 320px;
  
}
.title-2{
  font-family: Bai Jamjuree;
font-size: 40px;
font-weight: 500;
line-height: 50px;
text-align: left;
}
.text-2{
  font-family: Bai Jamjuree;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: left;
}
.img-2{
  position: absolute;
  width: 312px;
height: 312px;
top: 926px;
left: 952px;
}
.img-3{
  position: absolute;
  width: 247px;
  height: 244px;
  left: 1102px;
  top:1110px
}
.img-4{
  position: absolute;
  width: 135px;
  height: 136px;
  top: 1202px;
  left: 942px;
}
.article-3{
  position: absolute;
  width: 750px;
  height: 350px;
  top: 1382px;
  left: 568px;
}
.title-3{
  font-family: Bai Jamjuree;
font-size: 40px;
font-weight: 500;
line-height: 50px;
text-align: left;
}
.text-3{
  font-family: Bai Jamjuree;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: left;
}
.img-5{
  position: absolute;
  width: 240px;
height: 240px;
top: 1342px;
left: 217px;
gap: 0px;
opacity: 0px;
}
.img-6{
  position: absolute;
  width: 136px;
height: 136px;
top: 1560px;
left: 366px;
gap: 0px;
opacity: 0px;
}
.article-4{
  position: absolute;
  width: 1136px;
  height: 350px;
  top: 1834px;
  left: 188px;
}
.article-fourth-text,
.article-fourth-other{
  display: inline-block;
  vertical-align: top;
}
.article-fourth-text{
  width: 705px;
  height: 100%;
}
.article-fourth-other{
  position: relative;
  padding-left: 73px;
  width: 357px;
  height: 100%;
}
.title-4{
  font-family: Bai Jamjuree;
font-size: 40px;
font-weight: 500;
line-height: 50px;
text-align: left;
}
.text-4{
  font-family: Bai Jamjuree;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: left;
}
.conteiner-2{
  position: absolute;
  width: 356px;
  height: 252px;
  background: #D9D9D9;
  border-radius: 38px;
  left: 73px;
  top: 0;

}
.conteiner-2 img{
  position: absolute;
  top: 187;
  left: 29px;
  width: 76px;
  height: 47px;
  /* top: 2029px;
  left: 997px; */
  gap: 0px;
  opacity: 0px;
  
}
.quote-2{
  position: absolute;
  top: 30px ;
  left: 29px ; 
  font-family: Bai Jamjuree;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: black;
}
.author-2{
  position: absolute;
  top: 196px;
  left: 134px;
  font-family: Bai Jamjuree;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: black;
}
.img-7{
  position: absolute;
  width: 135px;
  height: 136px;
  top: 2100px;
  left: 900.5px;
  gap: 0px;
  opacity: 0px;
}
.img-8{
  position: absolute ;
  width: 200px;
  height: 200px;
  top: 2068px;
  left: 1077px;
  gap: 0px;
  opacity: 0px;
}
.article-5{
  position: absolute;
  top: 2310px;
  left: 177px;
  width: 1119px;
  height: 440px; 
}
.article-fifth-other,
.article-fifth-text{
  display: inline-block;
  vertical-align: top;
}
.article-fifth-other{
  width: 356px;
  height: 100%; 
}

.article-fifth-text{
  padding-left: 84px;
  width: 680px;
  height: 100%; 
}
.conteiner-3{
  position: absolute;
  left: 0;
  top: 0;
  width: 356px;
  height: 252px;
  background: #D9D9D9;
  border-radius: 38px;
}
.author-3{
  position: absolute;
  top: 26px;
  left: 102px;
  font-family: Bai Jamjuree;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: black;
}
.conteiner-3 img{
  position: absolute;
  top: 15px;
  left: 285px;
  width: 50px;
  height: 50px;
}
.quote-3{
  padding-top: 74px;
  padding-left: 29px;
  font-family: Bai Jamjuree;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: black;
}
.title-5{
  font-family: Bai Jamjuree;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;  
}
.text-5{
  font-family: Bai Jamjuree;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.img-9{
  position: absolute;
  width: 289px;
  height: 260px;
  top: 2554px;
  left: 215px;
  gap: 0px;
  opacity: 0px;
}








 








.bai-jamjuree-extralight {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .bai-jamjuree-light {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .bai-jamjuree-regular {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .bai-jamjuree-medium {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .bai-jamjuree-semibold {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .bai-jamjuree-bold {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .bai-jamjuree-extralight-italic {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .bai-jamjuree-light-italic {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .bai-jamjuree-regular-italic {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .bai-jamjuree-medium-italic {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .bai-jamjuree-semibold-italic {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .bai-jamjuree-bold-italic {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-style: italic;
  }



 